

.project-head {
    /* padding: 1.6rem 0; */
    /* margin-top: 2.5rem; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    text-align: center;
    /* height: 93vh; */
    /* min-height: 90vh; */
    /* background-color: aqua; */
  }

  .projects{
    /* background-color: #FFFFFF; */
    /* align-self: start; */
    color: #32B4FF;

    
    
  }
  
  .project-pic {
    width: 100%;
    height: 30%;
    border-radius: 0.8rem;
  }
  
  .projects-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 60%;
    min-height: 50%;
    max-width: 100vw;
    margin: 0 auto;
    /* background-color: red; */
    /* margin-top: 2rem; */
  }
  
  .project-title {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #32B4FF;
  }
  
  .project-container {
    text-align: center;
    width: 80vw;
    /* flex-basis: 50%; */
    height: 100%;
  }
  
  .project-container p {
    padding: 0.4rem;
    line-height: 1.5;
    height: 20vh;
  }
  
  /* .project-card img{
    height: 9rem;
  } */
  
  .project-title {
    margin-bottom: 1.2rem;
  }
  
  .project-details {
    margin-bottom: 0.8rem;
  }
  
  .project-card {
    background-color: #0c1649;
    border-radius: 11px;
    box-shadow: 0 0.3rem 0.8rem #32B4FF;
    /* padding: 0.8rem; */
    margin-right: 0.8rem;
    height: 100%;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .p-image{
    height: 50%;
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
    
  }
  
  .project-text{
    width: 90%;
    height: 50%;
    /* background-color: #32B4FF; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-bottom: 2rem;
    /* margin: 0 1rem; */
    /* margin-top: 0.5rem; */
  }
  
  
  .project-text h3{
    margin: 0.1rem;
  }
  
  .project-text button{
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    color: #FFFFFF;
    background-color: #32B4FF;
  }
  
  /* .project-image img{
    width: 1.4rem;
    height: 1.4rem;
  
  } */
  
  .project-text p{
    height:auto;
    font-weight: 300;
    text-align: justify;
    width: 100%;
    height: 95%;
  }
  
  
  
  .project-display{
    /* background-color: aquamarine; */
    height: 100%;
  }
  
  