#mainLayout{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100vw;
    max-width: 100vw;
    
}

#outlet{
    /* width: 70%; */
    /* background-color: blue; */
}

#sideNav{
    /* width: 30%; */
    /* background-color: brown; */
}