
#abt-qoute p{
  text-align: justify;
  font-size: 1rem;
  font-weight: 400;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
a:hover{
  color: rgba(18, 105, 204, 0.877);
}
header{
  width: 100vw;
}
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 3px 5px #32B4FF;
  width: 100%;
  
   
}
nav h1 {
  color: rgba(18, 105, 204, 0.877);
  margin-left: 1.5rem;
}


nav a {
  color: rgba(18, 105, 204, 0.877) ;
  transition: 0.3s;
}

nav a:hover {
  color: rgba(11, 224, 224, 0.904);
  border-bottom: 2px solid rgba(11, 224, 224, 0.904);
}

nav ul {
  display: flex;
  gap: 3rem;
  margin-right: 1.5rem;
}
.menu {
  color: rgba(245, 245, 245, 0.904);
  font-size: 4rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
section{
  color: rgba(245, 245, 245, 0.904);
  width: 100vw;
  margin-bottom: 1rem;
  
}
.qoute-container{
  display: grid;
  margin: 6rem 6rem 3rem 4rem;
}
.qoute{
  margin: 0.3rem;
}
.qoute p{
  color: #5d94ca;
  font-weight: 500;
}
.qoute h1{
  color:#32B4FF;
  font-size: 5rem;
  padding: 5px 0px;
}
.qoute h2{
  color:rgba(245, 245, 245, 0.76);
  /* padding: 5px 0px; */
  font-size: 3rem;
}
#q1{
  margin-top: 0.5rem;
}
.abt-container{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  
}

.abt-head{
  width:80vw;
  text-align: center;
}

.abt-head, .skill-head, .project, .contact{
  justify-content: center;
  margin: 0 auto;
  margin-top: 9rem;
  color: #32B4FF;
}
.abt-container .abt-mini-container{
  /* display: grid; */
  grid-template-columns: auto auto;
  margin: auto;
  width: 80vw;
  margin-top: 3rem;
  font-size: 1rem;
  column-gap: 3rem;
  padding: 3rem 2.6rem 3rem 2.6rem;
  background-color: #0c1649;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.5rem #32B4FF;
}

.abt-mini-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80vw;
  height: 60vh;
  margin-top: 3rem;
  font-size: 1rem;
  column-gap: 3rem;
  padding: 3rem 2.6rem 3rem 2.6rem;
  background-color: #0c1649;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.5rem #32B4FF;
}
.stack{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 45%;
  height: 50%;
  border: 2px solid #32B4FF;
  border-radius: 1rem;
  color: #32B4FF;
}

.stackp{
  min-height: 60%;
  height: auto;
  margin: 1rem 1rem;
  text-align: justify;
  color: #FFFFFF;
  font-size: small;
  
}

.stackp p{
  font-size: 1rem;
  font-weight: 200;

}

#abt-qoute {
  margin: 0.5rem;
  /* padding: 10px; */
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  width: 100%;
}

hr.color{
  border: 1px solid #5d94ca;
}

.skill-container{
  display: grid;
  justify-content: center;
  max-width: 100vw;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-head{
  margin-bottom: 3rem;
}

.skill-wrapper{
  max-width: 80vw;
}
.skill-wrapper img{
  padding: 1rem;
  border-radius: 1rem;
  width: 80px;
  height: 80px;

}

.card{
  background-color: #0c1649;
  border-radius: 1rem;
  box-shadow: 0 3px 10px #32B4FF;
  padding: 0.8rem;
  margin: 0.3rem;
}
.project, .contact{
  margin-bottom: 6rem;
}

.project-head {
  /* padding: 1.6rem 0; */
  /* margin-top: 2.5rem; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  text-align: center;
  min-height: 80vh;
}

.project-pic {
  width: 100%;
  height: 30%;
  border-radius: 0.8rem;
}

.projects-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 100vw;
  margin: 0 auto;
  height: 23rem;
}

.project-title {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #32B4FF;
}

.project-container {
  text-align: center;
  width: 80vw;
  /* flex-basis: 50%; */
  height: 100%;
}

.project-container p {
  padding: 0.4rem;
  line-height: 1.5;
  height: 20vh;
}

/* .project-card img{
  height: 9rem;
} */

.project-title {
  margin-bottom: 1.2rem;
}

.project-details {
  margin-bottom: 0.8rem;
}

.project-card {
  background-color: #0c1649;
  border-radius: 11px;
  box-shadow: 0 0.3rem 0.8rem #32B4FF;
  /* padding: 0.8rem; */
  margin-right: 0.8rem;
  height: 100%;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-image{
  height: 50%;
  width: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
  
}

.project-text{
  width: 90%;
  height: 50%;
  /* background-color: #32B4FF; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-bottom: 2rem;
  /* margin: 0 1rem; */
  /* margin-top: 0.5rem; */
}


.project-text h3{
  margin: 0.1rem;
}

.project-text button{
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: #FFFFFF;
  background-color: #32B4FF;
}

/* .project-image img{
  width: 1.4rem;
  height: 1.4rem;

} */

.project-text p{
  height:auto;
  font-weight: 300;
  text-align: justify;
  width: 100%;
  height: 95%;
}



.project-display{
  /* background-color: aquamarine; */
  height: 100%;
}

.contact-container{
  /* margin: 0 auto; */
  max-width: 100vw;
  height: 70vh;
  text-align: center;
  /* padding: 20px 0; */
  margin-top: 1.5rem;
}
.contact{
  width: 80vw;
  text-align: center;
  display: flexbox;
  flex-direction: row;
  justify-content: center;


}
.color{
  width:80vw;
}
p{
  font-size: 1rem;
  font-weight: 700;
}
.contact-details{
  background-color: #0c1649;
  border-radius: 11px;
  box-shadow: 0 0.3rem 0.8rem #32B4FF;
  padding: 0.8rem;
  margin: 0.8rem;
  width: 40vw;
  margin: 0 auto;
}

.contact-details h3{
  color: #5d94ca;
  margin-bottom: 30px;
}

.contact-details p{
  color: rgba(245, 245, 245, 0.76);
  line-height: 1.5;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 2.5%;
}
.contact-details a{
  text-decoration: none;
  margin: 0rem 0.8rem;
}


.connectWithMeSection{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem;
  /* padding: 50px 120px 180px 120px; */
}

.connectWithMeSectionContentsContainer{
  width: 80vw;
  padding: 4rem 0rem;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  justify-content: center;
  align-items: center;
  background-color: #0c1649;
  border-radius: 11px;
  /* padding: 3rem; */
}

.connectWithMeTopSection{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.connectWithMeTextContainer{
  width: fit-content;
  height: auto;
}

.connectWithMeTextContainer h2{
  font-size: 2rem;
  color: #32B4FF;
}

.connectWithMeDescriptionTextContainer{
  width: 60%;
  height: auto;
}

.connectWithMeDescriptionTextContainer p{
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.connectWithMeBottomSection{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 6rem;
}

.connectWithMeBottomLeftContainer{
  width: 50%;
  height: auto;
}

.form{
  width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 3rem;
}

.formContents{
  width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 2rem;
}


.contactcontainer{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: start;
  align-items: start;
}

.contactcontainer input{
  width:70%;
  height: 50px;
  border: none;
  outline: none;
  border: 2px solid #32B4FF;
  /* padding-left: 1rem; */
  border-radius: 0.5rem;

}

.contactcontainer input:focus, textarea:focus{
  border: 2px solid #32B4FF;
   
}

.contactcontainer input::placeholder, textarea::placeholder{
  margin-left: 1rem;
   
}


.textareaInputField{
  width:85%;
  /* max-width: 70%; */
  height: auto;
  resize: none;
  border: none;
  outline: none;
  border: 2px solid #32B4FF;
  /* padding-left: 1rem; */
  padding-top: 1rem;
  border-radius: 0.5rem;
}

.sendMessageButton{
  background: #32B4FF;
  border: none;
  padding: 1rem 4rem;
  /* border: 2px solid #4831D4; */
  border-radius: 0.5rem;
  color: #FFFFFF;
  font-size: 1rem;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.sendMessageButton:hover {
  background: #4831D4;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.connectWithMeBottomRightContainer{
  width: 50%;
  height: 70vh;
  background-image: url("./Images/illustration.svg");
  margin-right: 3rem;
}


footer{
  margin-top: 8rem;
  background-color: #0c1649;
  padding: 1.6rem 0rem;
  border-top: 2px solid #32B4FF;
  width: 100vw;

}

footer .footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5d94ca;
  font-size: 1.6rem;
  font-weight: bold;
  width: 100%;
}
@media screen and (max-width:1220){
  
  .stack{
    height: 70%;
  }
}
@media screen and (max-width:800px) {
  
  body{
      width: 100vw;
      font-weight: 400;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: start;
      
  }

@media screen and (max-width:800px) {
  p{ font-size: 0.8rem;
      font-weight: 400;
  }

  .qoute h1{
      font-size: 2.5rem;
  }
  .qoute h2{
      /* padding: 5px 0px; */
      font-size: 1.5rem;}

  .project-display p{
      font-size: 0.9rem;
      overflow: hidden;
      text-overflow: ellipsis;
      }

  .project-display h3{
      font-size: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
  }


  .skill-wrapper{
      max-width: 100vw;
      margin-right: 1rem;
      margin-left: 1rem;
  }
  
  .contact-details{
      width: 80%;
  }

  .stackp p{
      /* word-wrap: break-word;
      word-break: break-all;
      overflow-wrap: break-word; */
      /* overflow-y: scroll; */
      font-size: 0.8rem;
  
  }
  .project-head .project{
      align-items: center;
      justify-content: center;
      width: 100vw;
      display: flex;
      flex-direction: column;
  }
  

  .project-head {
      display: flex;
      flex-direction: column;
      /* padding: 0.8rem 0; */
      margin-top: 1.2rem;
      /* margin: 0 auto; */
      width: 100vw;
      text-align: center;
      /* min-height: 80vh; */
      /* margin-left: 1rem;
      margin-right: 1rem; */
      align-items: center;
      justify-content: center;
      padding: 0rem;
      margin-left: 0rem;
      
  }
  footer .footer{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      width: 100vw;
      
  }

  #abt-qoute p{
       
      text-align: justify;
      font-size: 0.9rem;
      font-weight: 200;
      width: 100%;
  }

  nav ul {
      /* display: flex; */
      gap: 0.5rem;
      font-size: 1rem;
  }

  nav h1{
      font-size: 1.5rem;
  }

  .project-image{
      margin-top: 1.5rem;
     }
/* 
  #projects{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: fit-content; */
  }

  .projects-container{
      /* display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; */
      width: 80vw;
      margin-left: 0px;
      
  }
  
.projectText .projectText{
    min-height: 85%;
    
}

  .project-card {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-left: 0.5rem;
      /* padding: 5rem; */
      /* width: 33.3%; */
      
       
  }

  .abt-mini-container{
      width: 80vw;
  
  }

  header{
      margin-bottom: 2rem;
  }
  
  section{
      margin-bottom: 2rem;
  }
  
  .qoute{
      margin-left: 0.15rem;
      margin-right: 0.1rem;
  
  }
  
  .contact-details{
      margin-bottom: 1rem;
  }
  
  footer{
      margin-top: 0.5rem;
  }

  .qoute-container{
      margin-left: 0rem;
      width: 100%;
  }
  
  .qoute-container p, h1, h2{
      margin-left: 1.5rem;
      margin-right: 1.5rem;
  }

  @media screen and (max-width:600px){
      .abt-mini-container{
          flex-direction: column;
          height: fit-content;
      }

      .stack{
          width: 80%;
          margin-bottom: 1rem;
      }
  }
  
}
  
 


@media screen and (max-width:500px) {
  .abt-mini-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
 }

 .projects-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;

}
.project-card {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  
  width: 75vw; 
  height: 60vh;
   
}

#abt-img img{
  margin: 0.5rem;
  margin-left: 0px;

}
#abt-qoute p{
  margin: 0rem;
  text-align: justify;
  /* padding: 10px; */
  
}


div .abt-mini-container{
  width: 75vw;
}

header{
  margin-bottom: 2rem;
}

section{
  margin-bottom: 2rem;
}

.qoute{
  margin-left: 0.15rem;
  margin-right: 0.1rem;

}

.contact-details{
  margin-bottom: 0.2rem;
}

footer{
  margin-top: 0.5rem;
}
.qoute-container{
  margin-left: 0rem;
  width: 100%;
}

.qoute-container p, h1, h2{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
}

